<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAYjjpiGalfBSgX3BeKP_riWesFX5mOY0E</string>
	<key>GCM_SENDER_ID</key>
	<string>656775736118</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.qualitysquare.Quality-Square</string>
	<key>PROJECT_ID</key>
	<string>crst-cfdce</string>
	<key>STORAGE_BUCKET</key>
	<string>crst-cfdce.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:656775736118:ios:3878d76ffc4a43c85ce197</string>
</dict>
</plist>